* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  color: #e3e3e3;
}

button {
  font-family: 'Muli', sans-serif;
}

svg,
i,
path {
  pointer-events: none;
}

.colors {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(0, 0, 0, 0.933);
}

.colors .color {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4rem;
  position: relative;
  overflow: hidden;
}

.colors .color h2 {
  font-size: 2rem;
  cursor: pointer;
}

.colors .color .sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 10%;
  background-color: #f0f0f0;
  padding: 2rem .7rem;
  width: 80%;
  border-radius: 1rem;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.colors .color .sliders span {
  margin: .5rem 0;
}

.colors .color .sliders .close-adjustment {
  font-size: 1.5rem;
  font-weight: bold;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  background-color: inherit;
}

.colors .color .sliders .close-adjustment:hover {
  color: #ff0000;
}

.colors .color .sliders .active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  pointer-events: all;
}

.colors .color .sliders button {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: none;
}

.colors .color .sliders input[type="range"] {
  -webkit-appearance: none;
  height: 1rem;
  outline: none;
  border-radius: 1rem;
}

.colors .color .sliders input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: #ffffff;
  cursor: pointer;
  border: 0.1rem solid #5c5c5c;
  border-radius: 1rem;
}

.colors .color .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 20vh;
}

.panel button {
  font-size: 1.2rem;
  margin: 1rem;
  padding: 1rem 2rem;
}

.panel p {
  font-size: 1.2rem;
}

.panel .library-panel,
.panel .generate-panel,
.panel .save-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adjust, .lock {
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  margin: 2rem 0rem;
}
/*# sourceMappingURL=style.css.map */